{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
    <h1>
        Калькулятор питомого розрахункового електричного навантаження житла
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
