/* small-post__content */

.small-post__content {
    display: flex;
    justify-content: space-between;
}

.small-post__image {
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-post__image,
.small-post__text {
    width: 50%;
    height: 400px;
}

.small-post__bottom-part {
    display: flex;
    justify-content: space-between;
}