@import "/css/scheme.css";
/* header  */

.header-main {
    width: 100%;
    align-items: center;
}

.header-main-wrapper {
    padding: 30px 30px;
    text-align: center;
    background-color: #1165f1;
    border-bottom: 5px solid red;
}

.header-main__logo img {
    max-width: 100px;
    width: 100%;
}

.navigation-main__list {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

@media all and (max-width: 768px) {
    .navigation-main__list {
        display: block;
    }
}

.navigation-main__list li {
    list-style-type: none;
}

.navigation-main__list a,
.navigation-main__list span {
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
}

.navigation-main__list a,
.navigation-main__list span {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 3px solid inherit;
}

.navigation-main__list a:hover {
    border-bottom-color: green;
    /*transition: 0.5s;*/
    animation:blinking 1s infinite;
}
@keyframes blinking {
    0%{color:rgba(0, 0, 0, 1);}
    50%{color:rgba(229, 114, 52, 1);}
    100%{color:rgba(229, 202, 52, 1);}
}

/* footer */

.footer-main {
    padding: 30px 30px;
    text-align: center;
    background-color: #000000;
    border-top: 5px solid red;
    margin-bottom: 30px;
}

.footer-main__copyright {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

/* for footer in bottom part page */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

/* for base element */

.header-main,
.main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 20px 15px;
}

.main h1 {
    text-align: center;
    margin-bottom: 30px;
}

.link-button {
    box-shadow: 3px 4px 0 0 #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0 1px 0 #810e05;
}
.link-button:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
.link-button:active {
    position:relative;
    top:1px;
}

.existTp-wrapper {
    display: flex;
    justify-content: space-between;
}

/* for error page */

.title-error {
    margin-top: 100px;
    text-align: center;
}

/* hamburger-menu */

.hamburger-menu-wrapper {
    display: flex;
    align-items: center;
}

@media all and (min-width: 992px) {
    .hamburger-menu-wrapper {
        display: none;
    }
}

.hamburger-menu__line-1,
.hamburger-menu__line-2,
.hamburger-menu__line-3 {
    width: 30px;
    height: 4px;
    background-color: black;
}

.hamburger-menu__line-2,
.hamburger-menu__line-3 {
    margin-top: 5px;
}

.hamburger-menu__line-1--open {
    transform: rotate(45deg) translate(6px, 7px);
}

.hamburger-menu__line-3--open {
    transform: rotate(-45deg) translate(6px, -7px);
}

.hamburger-menu .hamburger-menu__line--hidden {
    background-color: transparent;
}

/* mobile menu */

.logotype-hamburger-menu {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
    justify-content: space-between;

}

@media all and (max-width: 992px) {

    .header-main {
        display: block;
    }

}

.navigation-main .navigation-main__list--mobile {
    display: block;
}