
{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="title-error">
        Даной сторінки не існує!
        Якщо ви впевнені що вона існувала - будьласка повідомте адміністратору!
    </h1>

{% endblock %}