
{# templates/bundles/TwigBundle/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="title-error">
        У Вас відсутні права на перегляд даної сторінки!
    </h1>

{% endblock %}